body{
	background: #FCFCFC  !important;
}
/*
.dashbord-top-nav{
	background:#F2652C;
	border:0px !important;
	border-color:#F2652C;
}
.dashbord-top-nav  .navbar-brand{
	color:#FFF;
}
.dashbord-top-nav  ul li a{
//	color:#FFF;
}
.dashbord-top-nav  ul li ul li a{
	color:#323232;
}
*/
/*
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 9999;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}




/*
.side-nav {
	top:50px !important;
	background:#F2652C;
	border-color:#F2652C;
}
.side-nav  li  a {
    color:#FFF !important;
}

.navbar-inverse .navbar-nav > 
.active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #F58F66;
}
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #F58F66;
}

/***************---------------*********************/
/*
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}

*/

/*fileupload*/
.custom-file-input {
		display: inline-block;
		position: relative;
		color: #FFF;
	}
	.custom-file-input input {
		visibility: hidden;
		width: 120px;
	}
		.custom-file-input:before {
		content: "Change image";
		display: block;
		background: #E95C24 none repeat scroll 0% 0%;
		border: 1px solid #E95C24;
		border-radius: 4px;
		padding: 10px 0px;
		outline: medium none;
		white-space: nowrap;
		cursor: pointer;
		//text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
		font-weight: bold;
		text-align: center;
		font-size: 10pt;
		position: absolute;
		left: 0px;
		right: 0px;
	}
	.custom-file-input:hover:before {
		border-color: #E95C24;
		opacity:.8;
	}
		.custom-file-input:active:before {
		border-color: #E95C24;
		opacity:.8;
		
	}

#wrapper {
   background-color:#F2652C !important;
}
.navbar-default .navbar-toggle {
   border:0px solid #CCC;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
	border:1px solid #FFF;
}
.navbar-default{
	background-color: #F2652C;
	border-color: #F2652C;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover {
    color: #FFF;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #FFF;
}
.nav  a {
    color: #FFF;
    text-decoration: none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #F2652C;
    border-color: #F2652C;
	
}
.navbar-top-links li a:hover{
	background:none;
}
.navbar-top-links li a {
    padding: 13px;
    min-height: 50px;
}

.nav > li > a {
    font-size: 13px;
}

.sidebar ul li {
    border-bottom: 0px solid #FF9471;
}
.sidebar .glyphicon{
	float:right;
	font-size:11px;
	margin-top:3px;
}
.sidebar ul li a.active {
    background-color: #FF9471;
}
.sidebar ul li a:hover , .sidebar ul li a:focus{
	padding:none;
	background:#FFF;
	color:#323232;
	border:none;
	transition:.2s;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #EEE;
}
.memberpanelFormContainer{
	background:#EAEAEA;
	padding:2%;
	margin-top:3%;
	border-radius:10px;
}


/*******memnber Profile Pic *****************/
.profile-pic
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: transparent;
	margin: 0 auto;
	border: 0px solid #bebebe;
}
.profile-pic img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	
	width: 95px;
	height: 95px;
	border-radius: 100%;
}
.page-header{
	text-align:center;
}








/*-----------------data table------------*/
.table-responsive {
   border: 0px solid #DDD;
   padding: 3%;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0px 0px 15px;
}
.table-responsive table{
	border-collapse:collapse !important;
}
.table-responsive table thead{
	font-size: 12px;
	color: #323232;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #ECECEC;
	font-size: 13px;
}




#page-wrapper{
	padding:3%;
	background: #FCFCFC ;
}
.page-label{
	font-size:1.3em;
	color: #5A5A5A;
}
.custom-row-width{
	width:80%;
	margin:0 auto;
	
}
.custome-input{
	height: 40px;
	border: 1px solid #FFAFA6;
	color: #DA2B0E;
}
.custome-button{
	border: medium none;
	background: #E95C24 !important;
	color: #FFF;
	width: 100%;
	height: 45px;
	font-weight: bold;
}
.custome-button:hover{
	background: #FF7843 !important;
	color: #FFF;
}
.form-control:focus {
    border-color: #F53617;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(242, 55, 24, 0.6);
}
.custom-error{
	background:#FC4A4A;
	color:#FFF;
	font-weight:600;
}
.change-pass-label{
	height:40px;
	line-height:40px;
	font-weight:600;
}
.mandetory-icon{
	font-size:16px;
}
.custom-success{
	background-color: #33930C;
	color:#FFF;
	font-weight:600;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFE0D9;
    opacity: 1;
	
}
label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    color: #F2512D;
    font-weight: 600;

}

.download-btn
{
	background: #F35C29;
	padding: 2%;
	color: #FFF;
	border-radius: 3px;
	font-size: 12px;
	cursor:pointer;
}
.download-btn:hover
{
	text-decoration:none;
	color:#FFF;
}

/*********************************/
/************* DASHBOARD *********/
/*********************************/

.casbck-terms-condition ul{
	list-style:none;
	font-size:13px;
}
.cashback-applied-msg{
	text-align: center;
	font-size: 20px;
	color: #036C08;
}

.renewalForm h2{
	clear: both;
	font-size: 17px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 7px;
	color: rgb(98, 98, 98);
	box-shadow: 2px 2px 2px 2px #CCC;
	background: #F96736;
	border-radius: 10px;
	height: 35px;
	line-height: 35px;
	color: #FFF;
	font-weight: 700;
}
.payment-warning
{
	clear: both;
	font-size: 14px;
	padding-left: 20px;
	padding-top: 8px !important;
	color: #0B5F8D;
}


.panel-primary {
    border-color: none;
}
.panel-primary > .panel-heading {
   border:0;
}

.dashboard-cashback-block-footer{
	background: #156395;
	color: #FFF;
}
.dashboard-cashback-block-footer a {
	color:#FFF;
	font-weight:700;
	
}

.dashboard-renewal-block-footer{
	background: #0F8937 none repeat scroll 0% 0%;
	color: #FFF;
}
.dashboard-renewal-block-footer a{
	color:#FFF;
	font-weight:700;
}
.dashboard-attendance-block-footer{
	background: #BF7506;
	color: #FFF;
}
.dashboard-attendance-block-footer a {
	color:#FFF;
	font-weight:700;
	
} 

/*DUE BLOCK*/
.dashboard-due-block
{
border:0;	
}

.dashboard-due-block  > .panel-heading{
	background:#F98B73 ;
}

.dashboard-due-block-footer{
	background: #FB521B;
	color: #FFF;
}
.dashboard-due-block-footer a {
	color:#FFF;
	font-weight:700;
	
}
.package-history{
	margin-top:4%;
}
.package-history .table-responsive{
	padding:2px !important;
}
.pack-hist-title{
	background: #FB7024;
	padding: 9px;
	color: #FFF;
	border-radius: 4px;
	font-size: 20px;
}
.current-package
{
	margin-top:3% !important;
}
.package-history h4{
	font-size:14px;
}
.package-history .table-bordered > tbody > tr > td, .package-history .table-bordered > tbody > tr > th,
.package-history .table-bordered > tfoot > tr > td, .package-history .table-bordered > tfoot > tr > th, 
.package-history .table-bordered > thead > tr > td, .package-history .table-bordered > thead > tr > th {
    border: 1px solid #ECECEC;
    font-size: 12px;
}

/************DASHBOARD - ATTENDANCE**************/
.attendance-box
{
	width:100%;
	height:220px;
	margin-bottom:10%;
	float:left;
}
.attd-month
{
	text-align: center;
	font-size: 2.1em;
	color: #FFF;
	font-weight: 600;
	margin-top: 7px;
}
.attd-dys-no
{
	width: 100px;
	height: 100px;
	background: #eaeaea;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle !important;
	border-radius: 100%;
	line-height: 100px;
	font-size: 4.5em;
	color: #454545;
}
.attd-dys-label
{
	text-align: center;
	color: #FFF;
	font-size: 1.2em;
	font-weight: 600;
}
.view-more-attd
{
	text-align: center;
	background: #d6d6d6;
	padding: 2%;
	color: #636363;
	font-weight: 600;
}
.view-more-attd a 
{
	color: #484848;
}
/*------------Portfolio ---------------*/


.change-image-container{
	width:60%;
	margin:0 auto;
}

.change-image-body-container{
	height:464px;
	max-height:464px;
}

.change-image-body-container-small{
	height:250px;
	max-height:250px;
}
.change-image-body-container-small #empimagepreview{
	max-height:200px;
}


.custom-file-input{
	width:90%;
	margin-left:5%;
	padding-bottom:7%;
}
.body-cal-container label{
	text-align:left !important;
	font-weight: 600 !important;
	font-size: 13px !important;
	margin-bottom: 3px !important;
}

#getvalue{
		line-height:35px;
		margin-bottom:2%;
		background:#4A9F1E !important;
}
.custom-panel-body{
	border: 1px solid #FFD0C6 !important;
}

.page-label-margin{
	margin-top:20px;
}
.change-image-body-container #imgpreview{
	max-height:420px;
}




.port-folio-preview{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width:100%;
	margin-top:5%;
	
	
}
.body-cal-container .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #F8F8F8;
    opacity: 1;
	cursor:not-allowed;

}
#save-loader{
	/*display:none !important; */
	line-height: 31px;
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
/**---------------Port folio view Container---------------**/

.portfolio-view-container .panel-body{
	max-height: 420px;
	height: 420px;
}
.panel-info{
	border-color: #F0F0F0;
	box-shadow: 5px 5px 5px #CCC;	
}
.portfolio-view-container  .panel-heading{
	background-color: #F0EFEF;
	border-color: #E3E3E3;
}
.portfolio-view-container  .panel-title{
	font-weight: 700;
	color: #FF2D00;
}

.port-folio-block{
//	height:520px !important;
//	max-height:520px !important;
}
.folio-block-img-width{
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.folio-block-img-height{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:400px;
	max-height: 400px;
}
.folio-block-img-eq{
	max-width:100%;
	height:400px;
	max-height: 400px;
}
.portfolio-view-container .panel-footer  	.nav > li >a{
	padding: 7px 13px;
}

.portfolio-view-container .panel-footer  	.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #FF663D;
    border: 1px solid #FF663D;
}
.portfolio-view-container   .result-data .badge {
    color: rgb(255, 255, 255);
    background-color: rgb(243, 114, 79);
    border-radius: 10px;
}
.portfolio-view-container   .result-data  a {
    color: #337AB7;
   
}

.portfolio-view-container .panel-footer  .result-data> li > a:focus, .result-data > li > a:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0);
    border: 0px solid #FF663D;
}
.port-folio-abbr .list-group-item {
	width:97%;
	margin:0 auto;
	background:#F0F0F0;
	border: 0px solid #DDD !important;
	padding: 5px 15px;
	color: #FF4800;
	font-weight:600;
}

.popover{
	z-index:1000 !important;
}
.btn-custom{
	color: #FFF;
	background-color: #F3724F;
	
	}
.portfolio-view-container .dropdown-menu > li > a{
	
	font-size:10px;
}

/***********************************************************/
/***************HEALTH & FITNESS TRANSFORMATION************/
/*********************************************************/

/****************body fat % transformation ********************/

.what-info-tag 
{
	float: right;
	margin-top: -20px;
	font-size: 12px;
	font-weight: 600;
	color:#ff6334;
}
.what-info-tag a
{
	
	color:#ff6334;
}
.custome-modal-popup-body
{
	height:430px;
	max-height:430px;
	overflow-y:scroll;
	font-size:13px;
	
}


#fatPerTransformation  .carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
   
 
}
#fatPerTransformation  .carousel-control.left {
  background-image: none;

}

.fPTransformatoin
{
	width:100%;
	height:300px;
	clear:both;
}
.fpImageView
{
	width:48%;
	float:left;
	height:300px;
	margin-right:4px;
	border:1px solid #CCC;
}
.fpDataView
{
	width:48%;
	float:left;
	border-left:3px dashed #ff673e;
	height:300px;
	border:1px solid #CCC;

}
.fpImageView img
{	margin-left:auto;
	margin-right:auto;
	display:block;
	max-width: 84%;
	vertical-align:middle;
}

.fpDataView table
{
	width:80%;
	margin:18% auto;
	font-size: 16px;
	text-indent:12px;
	
	
}

.fpDataView table tr {
	color:#ff673e;
	}
#uploaded_by
	{
		text-align: center;
		color: #F96618;
		font-weight: 600;
	}


/*-----------------Hav Report Styling--------------*/
.hav-row-container {
	margin-top:-4%;
}
.hav-report-container table{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #C03700;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 10px;
}
.hav_table{
	width:100%;
	border:1px solid #FF9073;
	
}
.hav-report-container .table-responsive h4{
	color: #4D4747;
	font-size: 14px;
	font-weight: 700;
}
.hav_table .row_heading1{
    background-color: #FF9073;
	height:30px;
	max-height:35px;
	font-weight:700;
	color: #FFF;
}
.hav_table .row_heading2{
    background-color: #EA6440;
	height:30px;
	font-weight:700;
	color: #FFF;
}
.hav_table .row_result1, .hav_table .row_result2{
    background-color: #FFF;
	height:30px;
	max-height:35px;
}
.row_heading1 td ,.row_result1  td{
	text-align:center;
	border:1px solid #FF9073;
}
.row_heading2 td ,.row_result2  td{
	text-align:center;
	border:1px solid #EA6440;
}
.hav_table span.label{
	font-size:90% !important;
}

/***********************************/
/************MFBB REPORT***********/
/*********************************/

.heading1_print
{
	font-size:1.2em;
	margin-top:2%;
	color:#F2652C;
	font-weight:600;
}


/******************************
*********** FEEDBACK **********
*******************************/

.feedBackFormContainer{
	width:96%;
	margin:0 auto;
	font-size: 13px;
}
.feedback-col-container{
	width: 96%;
	padding: 2%;
	background: #F0F0F0 none repeat scroll 0% 0%;
	border-radius: 20px; 
}


/*
.feedback-left{
	width:4%;
	float:left;  
}
.feedback-left .badge{
	background-color: #FF483B;
}*/
.feedback-right{
	width:100%;
	//float:left;
}

/******************************
*********** Application **********
*******************************/

.custom-button{
	color: #FFF;
	background-color: #337AB7;
	font-weight: 700;
}
.error-style{
	font-weight: bold;
	color: #FF7F70;
}
.validation-error{
	border: 1px solid #F23D17 !important;
	box-shadow: 0px 1px 8px #FEA592 !important;
}
.custom-button:hover , .custom-button:focus {
	color:#FFF;
}

.appExtFormContainer{
	background: #EAEAEA none repeat scroll 0% 0%;
	padding: 3%;
	border-radius: 10px;
}


.appExtFormContainer .file{
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0;
	background-color:transparent;
	color:transparent;
}

.supporting-file-info{
	background-color: #FE612E;
	padding: 1% 3%;
}


/****** ********
********Dietary Managment *********/

.header-panel-info a{
	float:right;
}
.btn-mantra{
	background:#F2652C;
	color:#FFF;
	font-weight:600;
}
.btn-mantra:hover,.btn-mantra:focus{
	opacity:.8;
	transition:.5s;
	color:#FFF;
}
.dietarymanagment-form-container{
	background: #F2F2F2;
	padding: 2%;
	border-radius: 10px;
	margin-top: 2%;
	font-size:13px;
}
.diet-col-border{
	border-right:1px solid #E4E3E3;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:0px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-style{
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
   -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-height{
	max-height:450px;
	height:440px;
	overflow-y:scroll;
}

/***********************************
*******Member's Family**************
************************************/

.memberFamilyFormContainer{
	background: #EAEAEA none repeat scroll 0% 0%;
	padding: 3%;
	border-radius: 10px;
	margin-top: 2%;
	font-size: 13px;
}


.listingtable .tableHead{
	background: #F96D48 none repeat scroll 0% 0%;
	color: #FFF !important;
}
.listingtable .tablerowOdd td,.listingtable .tablerowEven td{
	font-size:13px !important;
	font-weight:500;
	border:1px solid #FFF !important:
	
}
 .listingtable .tablerowOdd{
	background-color: #FFDBD6 !important;
}
.listingtable .tablerowEven{
	background: #FFB597 none repeat scroll 0% 0% !important;
}


@keyframes loadtextAnimat {
    0%   {opacity:1;}
    25%  {opacity:0;}
    50%  {opacity:1;}
    75%  {opacity:0;}
    100% {opacity:1;}
}

.loading-text {
	text-align: center;
	font-weight: 700;
	color: #FF644B;
   -webkit-animation: loadtextAnimat 5s infinite;
   -moz-animation: loadtextAnimat 5s infinite;
    animation: loadtextAnimat 5s infinite;
	
}
.loader{
	width:100%;
}
.loader img{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.clear-time{
	position: absolute;	
	right: 22px !important;
	text-align: center;
	cursor: pointer;
}


/*-----------Responsive View--------*/
@media only screen and (max-width:1345px){
	.portfolio-view-container .panel-footer  	.nav > li >a{
	padding: 7px 12px;
	}

}
@media only screen and (max-width:1328px){
	.portfolio-view-container .panel-footer  	.nav > li >a{
	padding: 7px 10px;
	}
}

@media only screen and (max-width:1294px){
	.portfolio-view-container .panel-footer  	.nav > li >a{
	padding: 7px 8px;
	}

}
@media only screen and (max-width:1260px){
	.portfolio-view-container .panel-footer  	.nav > li >a{
	padding: 7px 7px;
	}

}
@media only screen and (max-width:1243px){
	.portfolio-view-container .panel-footer  	.nav > li >a{
	padding: 7px 4px;
	}

}

@media only screen and (max-width:1240px) {
	.folio-block-img-height{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:400px;
	max-height: 400px;
	}
}
@media only screen and (max-width:1209px){
	.portfolio-view-container .panel-footer  	.nav > li >a{
	padding: 7px 2px;
	}

}
@media only screen and (max-width:1168px) {
	
	.folio-block-img-height{
	width: 70%;
	
	}
	
	.portfolio-view-container .panel-footer  .nav-pills > li {
    float: left;
    float: none;
    margin-top: 1%;
	}
}

@media only screen and (max-width:1111px) {
	.folio-block-img-height{
	width: 74%;
	
	}
}


@media only screen and (max-width:1080px) {
	.change-pass-label{
		
		line-height:44px;
		font-weight:400;
	}
}

@media only screen and (max-width:1026px) {
/* 	.fpImageView {
		width:70%;
		float: none;
	//	height: auto;
		margin-right: 0px;
		margin: 0 auto;
	}
	.fpDataView {
		width: 70%;
		float: left;
		border-left: 0px dashed #ff673e;
		height: 300px;
	} */
	.fpDataView table {
		width: 80%;
		margin: 20% auto;
		font-size: 13px;
		text-indent: 12px;
	}
	
}

@media only screen and (max-width:1080px){
	.folio-block-img-height {
    width: 84%;
	}
}

@media only screen and (max-width:991px){
	.port-folio-preview{
	/*	width:70%;
		margin-left:14%;*/
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width:100%;
	margin-top:5%;
	
	}
	.change-image-body-container{
		height:auto;
		max-height:auto;
	}
	.portfolio-view-container .panel-body{
		height:auto;
		max-height:auto;
	}
	.folio-block-img-height{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:auto;
	max-height: auto;
	}
	.folio-block-img-eq{
	max-width:100%;
	height:auto;
	max-height: auto;
	}
}


@media only screen and (max-width:965px) {
	.change-pass-label{
		line-height:20px;
	//	font-weight:400;
	}
}
@media only screen and (max-width:767px) {
	#page-wrapper{
		padding:5%;
		background: #EFEFEF;
	}
	.custom-row-width {
		width: 98%;
		margin: 0px auto;
	}
	.change-pass-label{
		line-height:5px;
		font-weight:600;
		height:14px;
	}
	.page-label{
		font-size:1.1em;
	}
	div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
	text-align: left !important;
	}
	div.dataTables_wrapper div.dataTables_length{
		padding-left: 34px !important;
	}
	.dataTables_info{
		padding-left: 16px !important;
	}
	.feedback-col-container {
		width: 98%;
		padding: 2%;
		background: #F8F8F8 none repeat scroll 0% 0%;
		border-radius: 8px;
	}
	.modal-header-success h3{
		font-size:18px;
	}
	.memberpanelFormContainer{
		background:none;
	}
}

@media only screen and (max-width:636px) {
	.fPTransformatoin
	{
		height:auto;
		
	}
	.fpImageView {
		width: 70%;
		float: none;
		height: auto;
		margin-right: 0px;
		border: 1px solid #CCC;
		
		margin:2px auto;
		
	}
	.fpDataView {
		width: 70%;
		float: none;
		border-left: 0px dashed #ff673e;
		min-height: 150px;
		height: 100px;
		border: 1px solid #CCC;
		margin: 0 auto;
	}
	.fpDataView table {
		width: 100%;
		margin: 1% auto;
		font-size: 14px;
		text-indent: 12px;
	}
.what-info-tag 
{
	float: none;
	margin-top: 10px;
	font-size: 12px;
	font-weight: 600;
	color:#ff6334;
}

.heading1_print
{
	font-size:1em;
	margin-top:5%;
	color:#F2652C;
	font-weight:600;
}


}

@media only screen and (max-width:460px) {
	.container-fluid{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.port-folio-preview{
		width:100%;
		margin-left:0%;
	
	}
}
@media only screen and (max-width:420px){
	.folio-block-img-height {
		width:75%;
	}
	.fpImageView {
		width: 100%;
		float: none;
		height: auto;
		margin-right: 0px;
		border: 1px solid #CCC;
		
		margin:2px auto;
		
	}
	.fpDataView {
		width: 100%;
		float: none;
		border-left: 0px dashed #ff673e;
		min-height: 150px;
		height: 100px;
		border: 1px solid #CCC;
		margin: 0 auto;
	}
	.fpDataView table {
		width: 100%;
		margin: 1% auto;
		font-size: 12px;
		text-indent: 12px;
	}
	.panel-title {
		font-size: 12px;
	}
}





















